<!-- Navbar - Done -->
<nav class=" container-fluid navbar fixed-top navbar-expand-lg  mb-5">
    <div class="container-fluid">
        <a class="navbar-brand  mt-2" href="#"> <img
                src="./../../../assets/logo.png"
                style="max-width: 100px;"></a>
        <button class="navbar-toggler rounded" type="button" style="background-color: #3471E9;" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon text-light" ></span>
        </button>
        <div class="collapse  navbar-collapse rounded" id="navbarSupportedContent" style="font-size: 20px;">
            <ul class="navbar-nav d-flex justify-content-center rounded ms-auto m-3 mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link ms-3 " routerLink="bio" routerLinkActive="active" aria-current="page"
                        id="a">Bio</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link ms-3" routerLink="contact" routerLinkActive="active" aria-current="page"
                        id="a">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ms-3" routerLink="gallery" routerLinkActive="active" id="a">Gallery</a>
                </li>
            </ul>

            <div class=" ms-auto text-light" style="font-size: 30px;">
                <a href="https://www.facebook.com/Kenanipix" style="color: #1D9BF0;"><i class="fa-brands ms-2 fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/kenanipix/" style="color:#F5A14A ;"><i
                        class="ms-2 fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/hamidhkinani" style="color: #1D9BF0;"> <i
                        class="fa-brands ms-2 fa-square-twitter"></i> </a>
                <a href="https://www.youtube.com/channel/UCMcbMCEJ5cvh_UdlHbj6xwQ" style="color: red;"><i
                        class="fa-brands ms-2 fa-youtube"></i></a>
            </div>
        </div>
    </div>
</nav>