
nav{
    background-color: rgba(0,0,0,.2);
}


#a {
    font-size: 25px;
    font-family: 'League Spartan';
    color: white;
}

.active{
    background-color: rgba(52, 113, 233, .4);
    border-radius: 10px;
}

