<app-navbar></app-navbar>
<div class="container-fluid" id="dp">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="text-white text-center p-2">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <a class="lead text-light text-decoration-none" href="https://kenanipix.com">Copyright &copy; 2023 Kenanipix.com </a> <br>
      <a class="lead text-light text-decoration-none" href="https://sunnykalwani.com" >Built by: Sunnykalwani.com</a>
    </div>

  </div>
</footer>